{
  "extends": ["standard", "standard-react"],
  "parser": "babel-eslint",
  "rules": {
    "react/jsx-no-bind": [1, {
      "allowArrowFunctions": true,
      "allowBind": true,
      "ignoreRefs": true
    }]
  }
}
